<template>
  <table class="table">
    <thead class="header">
      <tr>
        <th
            v-for="header in headers"
            :key="header.value"
        >
          <slot
              :name="`header-${header.value}`"
              :header="header"
          >
            {{ header.text }}
          </slot>
        </th>
      </tr>
    </thead>

    <tbody class="body">
      <tr
        v-for="(item, index) in items"
        :key="index"
        class="row"
      >
        <td
            v-for="(propValue, propName) in item"
            :key="`${index}_${propName}`"
        >
          <slot
              :name="propName"
              :item="item"
          >
            {{ propValue }}
          </slot>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: "AppTable",
  props: {
    headers: {
      type: Array,
      default: () => []
    },
    items: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="sass">
.table
  width: 100%
  display: flex
  flex-direction: column
.header
  border-bottom: 2px solid #ccc
  padding: 20px 0
  margin-bottom: 20px
  & tr
    display: flex
    width: 100%
    & th
      flex: 0 1 25%
  & button,
  & th
    outline: none
    border: none
    background: none
    font-size: 14px
    font-weight: bold
    text-transform: uppercase
  & button
    cursor: pointer
.row
  border-bottom: 1px solid #ccc
  width: 100%
  display: flex
  & td
    display: flex
    flex: 0 1 25%
    justify-content: center
    & img
      width: 150px
      height: 150px
      border-radius: 50%
.body
  & .row
    padding: 20px 0
</style>
