<template>
  <div id="app">
    <div class="container">
      <app-table
        :headers="tableHeaders"
        :items="sortedTableItems"
      >
        <template #header-fullName="{ header }">
          <button
              @click="toggleSorting(header.value)"
          >
            {{ header.text }}
          </button>
        </template>

        <template #header-followers="{ header }">
          <button
              @click="toggleSorting(header.value)"
          >
            {{ header.text }}
          </button>
        </template>

        <template #header-er="{ header }">
          <button
              @click="toggleSorting(header.value)"
          >
            {{ header.text }}
          </button>
        </template>

        <template #avatarUrl="{ item }">
          <img
              :src="item.avatarUrl"
              :alt="`avatar_image_${item.avatarUrl}`"
          />
        </template>

        <template #er="{ item }">
          {{ item.er }}%
        </template>
      </app-table>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import FieldService from './utils/FieldService';
import AppTable from "@/components/AppTable.vue";

export default Vue.extend({
  name: 'App',
  components: {
    AppTable
  },
  data() {
    return {
      influencerService: new FieldService(),
      inf: [],
      isSort: false,
      sortBy: '',
      tableHeaders: [
        {
          text: 'Full Name',
          value: 'fullName'
        },
        {
          text: 'Avatar',
          value: 'avatarUrl'
        },
        {
          text: 'Followers',
          value: 'followers'

        },
        {
          text: 'Engagement Rate',
          value: 'er'
        }
      ]
    }
  },

  created() {
    this.influencerService.getInfluencers()
      .then((data: any) => this.inf = data);
  },

  computed: {
    tableItems(): any {
      const allowedProperties = this.tableHeaders.map((item: any) => item.value);

      return this.inf.map((item: any) => {
        const updatedItem: any = {};

        for(const key in item) {
          if (allowedProperties.includes(key)) {
            updatedItem[key] = item[key];
          }

          if (key === 'er') {
            updatedItem.er = Math.ceil((item.er * 100) / item.followers );
          }
        }

        return updatedItem;
      });
    },

    sortedTableItems(): any {
      if (this.sortBy === '') {
        return this.tableItems;
      }
      return [...this.tableItems].sort((first: any, second: any) => first[this.sortBy] > second[this.sortBy] ? 1 : -1);
    }
  },

  methods: {
    toggleSorting(value: any): any {
      this.sortBy === value ? this.sortBy = '' : this.sortBy = value;
    }
  }
});
</script>

<style lang="sass">
#app
  font-family: Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #2c3e50
  margin-top: 60px
.container
  width: 100%
  max-width: 1200px
  margin: 0 auto

</style>
